<?xml version="1.0"?>
<robot name="wamv" xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:include filename="$(find iacquabot_mil)/urdf/materials.xacro" />
    <xacro:include filename="$(find iacquabot_mil)/urdf/wamv.gazebo"/>
    <xacro:arg name="namespace" default="wamv"/>   

    <xacro:arg name="sensor_namespace" default="sensors/"/>
    <xacro:arg name="camera_enabled" default="true"/>
    <xacro:arg name="camera_namespace" default="cameras/"/>   
    <xacro:property name="camera_namespace" value="$(arg camera_namespace)" scope="global" />
    <xacro:property name="sensor_namespace" value="$(arg sensor_namespace)" scope="global" />
    <xacro:property name="namespace" value="$(arg namespace)" scope="global" />      
    <xacro:include filename="$(find iacquabot_mil)/urdf/components/wamv_p3d.xacro" />
    <xacro:include filename="$(find iacquabot_mil)/urdf/components/wamv_camera.xacro" />
    <xacro:include filename="$(find iacquabot_mil)/urdf/components/wamv_gps.xacro" />
  
  
  <!-- Definir el enlace base del robot -->
  <link name="${namespace}/base_link">
    <visual>
      <geometry>
       <mesh filename="package://iacquabot_mil/urdf/models/balsa.dae" scale="0.05 0.05 0.05"/> <!-- Ajusta la escala según sea necesario -->
      </geometry>
      <origin xyz="0 0 -0.05" rpy="0 0 3.14159" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://iacquabot_mil/urdf/models/balsa.dae" scale="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/> <!-- Atributos de inercia -->
    </inertial>
  </link>
      <gazebo reference="${namespace}/base_link">
        <gravity>0</gravity> <!-- Deshabilita el efecto de la gravedad -->
        <static>true</static> <!-- Hace que el objeto sea estático, sin dinámicas físicas -->
    </gazebo>

  <!-- Add sensors -->
  <xacro:wamv_p3d name="p3d_wamv"/>
  <xacro:if value="$(arg camera_enabled)">
    <xacro:wamv_camera name="front_camera" y="0" x="0.3" P="${radians(1)}" />
  <xacro:wamv_gps name="gps_wamv" x="-0.45"  z="0.08"/>
  </xacro:if>
  
</robot>
